---
---
<h2>State of the site</h2>

<p>
    This site is incredibly outdated and useless. If you were directed here from Stack Overflow chat, then know
    that we've moved to <a href="https://discord.gg/gRFKWwn">Discord</a> years ago. If you're someone we know, or you know someone
    we know, follow the extremely complicated instructions on #public-landing to get authed. Current success rate is around 70%.
</p>

<p>
    Most of the stuff below has been written forever ago. If something looks like it should be a link, but isn't, then it means the link was dead.
    You can poke around <a href="https://github.com/LoungeCPP/loungecpp.net">Git history</a> if you care.
</p>

{% include collection.html collection=site.events   title="Events" %}
{% include collection.html collection=site.cpp      title="Articles" %}
