$supported-browsers: 'firefox', 'chrome';
$browser-min-versions: (
    'firefox': 32,
    'chrome': 38
);

$sans-serif: 'Helvetica', sans-serif;
$monospace: 'DejaVu Sans Mono', monospace;
$base-font-family: $sans-serif;

$base-font-size: 16px;
$h1-font-size: $base-font-size * 2.25;
$h2-font-size: $base-font-size * 2;
$h3-font-size: $base-font-size * 1.75;
$h4-font-size: $base-font-size * 1.5;
$h5-font-size: $base-font-size * 1.25;
$h6-font-size: $base-font-size;

$base-line-height: 24px;
$header-line-height: 1.25;

$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;

$blue: #477DCA;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

$base-background-color: white;

$base-font-color: $dark-gray;
$base-accent-color: $blue;

$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: lighten($base-accent-color, 40);
$success-color: $light-green;

$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(black,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;
